name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request_review:
    types: [submitted]

env:
  CARGO_TERM_COLOR: always

jobs:
  check-approval:
   if: github.event_name != 'pull_request_review' || (github.event_name == 'pull_request_review' && github.event.review.state == 'approved')
   runs-on: ubuntu-latest
   steps:
      - run: echo "Approval OK"
  fmt:
    runs-on: ubuntu-latest
    needs: check-approval
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - run: cargo fmt --all -- --check
  clippy:
    runs-on: ubuntu-latest
    needs: check-approval
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: clippy
          shared-key: stable
          save-if: ${{ github.ref == 'refs/heads/master' }}
      - run: cargo clippy --workspace --tests --examples -- -D warnings
  docs:
    runs-on: ubuntu-latest
    needs: check-approval
    env:
      RUSTDOCFLAGS: -Dwarnings
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rust-docs
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: docs
          shared-key: stable
          save-if: ${{ github.ref == 'refs/heads/master' }}
      - run: cargo doc --workspace --no-deps